{% extends "baseadmin.html" %}

{% block contenido %}


<div class="grid_12">
    <div class="tablero-titulo">

    </div>
</div>
<div class="grid_12">
    <div class="breadcrumb">
        <a href="/registro/consultar/" class="orange">Modulo biblioteca</a>
    </div>
    <br>
</div>

<div class="grid_12">
    <div class="well well-small">
       <!-- <form>
            <label>Establecer rango de edad</label>
            <input type="text" placeholder="Edad inicial">
            <input type="text" placeholder="Edad final">
            <label class="radio">
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Masculino
            </label>
            <label class="radio">
               <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Femenino
            </label>
              <button type="submit" class="btn btn-primary">Consultar</button>
 
        </form>
        -->
     <form method="POST" action="." id="consultar-form">{% csrf_token %}
        <div class="general">

            <label>Año</label>
            <div class="filtros">{{form.ano}}<br>{{form.ano.errors}}</div>
            <div class="clean"></div>
            <label>{{form.sexo.label}}</label>
            <div class="filtros">{{form.sexo}}<br>{{form.sexo.errors}}</div>
            <div class="clean"></div>
            <label>{{form.edad1.label}}</label>
            <div class="filtros">{{form.edad1}}<br>{{form.edad1.errors}}</div>
            <div class="clean"></div>
            <label>{{form.edad2.label}}</label>
            <div class="filtros">{{form.edad2}}<br>{{form.edad2.errors}}</div>
            <div class="clean"></div>
        </div>
        <button type="submit" class="btn btn-primary">Consultar</button>
    </form>
    </div>


<div class="tabbable">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active" ><a href="#est" data-toggle="tab">Estudiantes</a></li>
      <li><a href="#bar" data-toggle="tab">Barrio</a></li>
      <li><a href="#esc" data-toggle="tab">Nivel Academico</a></li>
    </ul>


    <div class="tab-content">
      <div class="tab-pane active" id="est">
            <div class="label">{{lista|length}} Personas</div><br><br>
             
            <table class="table table-bordered table-condensed">
                <caption> </caption>
                    <thead>
                     <tr>
                        <th>Id</th>
                        <th>Apellido</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Fecha Nacimiento</th>
                        <th>Escolaridad</th>
                     </tr>
                     </thead>
                <tbody>
                    {% for obj in lista %}
                        <tr>
                            <td>{{obj.id}}</td>
                            <td>{{obj.primer_apellido}}</td>
                            <td>{{obj.primer_nombre}}</td>
                            <td>{{obj.edad_chatel}}</td>
                            <td>{{obj.fecha_nacimiento}}</td>
                            <td>{{obj.get_nivel_academico_display}}</td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>


      </div>
      <div class="tab-pane" id="bar">
            <table class='table table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th>Nombre de barrio</th>
                        <th>Cantidad de visitantes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k,v in lista_barrio.items  %}
                    <tr>
                        <td>{{k}}</td>
                        <td>{{v}}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
      </div>
      <div class="tab-pane" id="esc">
            <table class='table table-bordered table-condensed'>
                <thead>
                    <tr>
                        <th>Nivel academico</th>
                        <th>Cantidad de visitantes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k,v in lista_academico.items  %}
                    <tr>
                        <td>{{k}}</td>
                        <td>{{v}}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
      </div>
    </div>
     
</div>
</div>
<div class="clear"></div>
    <script>
      $(function () {
        $('#myTab a:first').tab('show');
      })
    </script>

{% endblock contenido %}