{% extends "base.html" %}

{% block contenido %}
	 <form method="POST" action="." id="consultar-form">{% csrf_token %}
        <div class="general">

            <div class="label">{{form.sexo.label}}</div>
            <div class="filtros">{{form.sexo}}<br>{{form.sexo.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.edad1.label}}</div>
            <div class="filtros">{{form.edad1}}<br>{{form.edad1.errors}}</div>
            <div class="clean"></div>
            <div class="label">{{form.edad2.label}}</div>
            <div class="filtros">{{form.edad2}}<br>{{form.edad2.errors}}</div>
            <div class="clean"></div>
        </div>
        <button class="consultar">Ver</button>
    </form>
{% endblock contenido %}