{% extends "base.html" %}

{% block contenido %}
	
<table>
	<caption> {{lista|length}} Personas</caption>
	<thead>
		<tr>
			<th>Nombre de los alumnos</th>
		</tr>
	</thead>
	<tbody>
		{% for obj in lista %}
			<tr>
				<td>{{obj}}</td>
			</tr>
		{% endfor %}
		
	</tbody>
</table>

<table>
	<caption>barrios</caption>
	<thead>
		<tr>
			<th>nombre</th>
			<th>cantidad</th>
		</tr>
	</thead>
	<tbody>
		{% for k,v in lista_barrio.items  %}
		<tr>
			<td>{{k}}</td>
			<td>{{v}}</td>
		</tr>
		{% endfor %}
		
	</tbody>
</table>

<table>
	<caption>nivel academico</caption>
	<thead>
		<tr>
			<th>nombre</th>
			<th>cantidad</th>
		</tr>
	</thead>
	<tbody>
		{% for k,v in lista_academico.items  %}
		<tr>
			<td>{{k}}</td>
			<td>{{v}}</td>
		</tr>
		{% endfor %}
		
	</tbody>
</table>

	

{% endblock contenido %}